[user]
	email = simon.vandyk@gmail.com
	name = Simon van Dyk
[core]
	excludesfile = /Users/simon/.gitignore_global
	editor = vim
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[fetch]
	prune = true
